<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="template :: dochead">
</head>
<body>

	<div th:replace="template :: navigation"></div>
	<div class="container-fluid">
		 <div id="wrapper">
		 <table class="col-md-offset-3">
		        <tr>
		            <td><label for="email">E-mail:</label></td>
		            <td>
		                <span th:text="${email}"></span>
		            </td>
		        </tr>
		    	<tr>
		            <td><label for="number">Cell phone number:</label></td>
		            <td>
		                <span th:text="${number}"></span>
		            </td>
		        </tr>
		    	<tr>
		            <td><label for="carrier">Cell phone carrier:</label></td>
		            <td>
		            	<span th:text="${carrier}"></span>
		            </td>
		        </tr>
		    	<tr>
		            <td><label for="zones">Street Cleaning Zones:</label></td>
		            <td>
		            	<span th:each="zone : ${zones}" th:text="${zone.getZoneNumber() + ', ' }"></span>
		            </td>
		        </tr>
		   
		    </table>
			</div>
			<div id="editbuttons">
				<a href="/edit" class="btn btn-info">Edit</a>
				<a href="/cancel" class="btn btn-danger">Cancel</a>
				<a href="/logout" class="btn btn-default">Logout</a>
			</div>
		</div>
	</body>
</html>