<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="template :: dochead">
</head>
<body>
 
	<div th:replace="template :: navigation"></div>

	<h1>Signup</h1>
	<div>
		<span class="error" th:text="${passwordError}"></span>
		<span th:text="${emptyError}" class="error"></span>
		<span class="error" th:text="${emailError}" ></span><span class="error" th:text="${existingError}"></span>
		<span class="error" th:text="${verifyError}"></span>
		<span class="error" th:text="${numberError}"></span>
	</div>
	<div id="wrapper" class="container-fluid">
		<!--  
		<form method="post">
		  <table>
		  	<tr>
		       <td><label for="email">E-mail:</label>
	       		<input name="email" type="text" th:value="${email}" ></input></td>
       		</tr>
		    <tr>
	            <td><label for="password">Password</label>
		        <input name="password" type="password" th:value="${password}"></input></td>
           	</tr>
           	<tr>
	           <td><label for="verify">Verify Password</label>
               <input name="verify" type="password" th:value="${verify}"></input></td>
            </tr>
            <tr>
		     	<td><label for="number">Cell phone number</label>
                <input name="number" type="text" th:value="${number}"></input></td>
 		 	</tr>
 		 	<tr>
           		<td><label  for="carrier">Cell phone carrier</label>
            	<select  th:replace="template :: carrierselect"></select></td>
	         </tr>
	    	</table>
	    	<button type="submit" class="btn btn-success">Sign Up</button>
		</form>
		-->
		
		
<form class="form-horizontal" method="post">
<fieldset>

<div class="form-group">
  <label class="col-md-4 control-label" for="email">E-Mail:</label>  
  <div class="col-md-4">
  <input  name="email" type="text" placeholder="name@example.com" class="form-control input-md"></input>
  <span class="help-block">(Must contain "@" and ".")</span>  
  </div>
</div>


<div class="form-group">
  <label class="col-md-4 control-label" for="password">Password:</label>
  <div class="col-md-4">
    <input  name="password" type="password" placeholder="Enter Password" class="form-control input-md"></input>
    <span class="help-block">(Must be 4-12 characters long and contain 1 capital and 1 number.)</span>
  </div>
</div>


<div class="form-group">
  <label class="col-md-4 control-label" for="passwordinput">Re-type Password:</label>
  <div class="col-md-4">
    <input name="verify" type="password"  class="form-control input-md"></input>
    <span class="help-block">(Passwords must match.)</span>
  </div>
</div>


<div class="form-group">
  <label class="col-md-4 control-label" for="telephhone number">Telephone Number:</label>  
  <div class="col-md-4">
  <input id="textinput" name="number" type="text" placeholder="##########" class="form-control input-md"></input>
  <span class="help-block">(10 digits number)</span>  
  </div>
</div>

 	<div th:replace="template :: carrierselect" class="form-group"></div>
 	
 	<div class="form-group">
 	<label class="col-md-4 control-label" for="signup"></label>  
   		<div class="col-md-4 center-block">
    		<button id="signup" type="submit" class="btn btn-success center-block">Sign-Up!</button>
 		</div>
 	</div>

</fieldset>
</form>
	</div>
	
</body>
</html>