<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="dochead">
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
	<link th:href="@{/css/styles.css}" rel="stylesheet" />
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    
	<title>St. Louis Street Cleaning Notifications</title>
</head>

<body>

<nav th:fragment="navigation" class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="/" class="navbar-brand">STLSTREEETSAPP</a>
		</div>
	
	
		<div class="collapse navbar-collapse" id="mainNavbar">
			<ul class="nav navbar-nav">
	        	<li><a href="/">home</a></li>
	       		<li ><a href="/myaccount" th:text="${myAccount}"></a></li>
	       		<li ><a href="/edit" th:text="${edit}"></a></li>
	       		<li ><a href="/newzone" th:text="${newZone}"></a></li>
	    	</ul>
	    	
	    		<ul class="nav navbar-nav navbar-right">
	    			<li><a href="/logout" th:text="${logOut}"></a></li>
	    			<li><a href="/login" th:text="${logIn}"></a></li>
				</ul>
			
			
				
		
    	</div>
	</div>
</nav>

<div th:fragment="carrierselect" class="form-group">
	<label for="carrier" class="col-md-4 control-label">Carrier:</label>
	<div class="col-md-4">
		<select name="carrier" class="form-control">
			<option value="T-Mobile">T-Mobile</option>
			<option value="Sprint">Sprint</option>
			<option value="ATT">ATT</option>
			<option value="Verizon">Verizon</option>
			<option value="US Cellular">US Cellular</option>
		</select>
	</div>
</div>

</body>
</html>




